<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/main.css">
  <meta property="og:title" content="ToV: <%= cap.kind.to_verb %> <%= list.title %>" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="<%= og_desc %>"/>
  <title>ToV: <%= cap.kind.to_verb %> <%= list.title %></title>
</head>
<body>
  <h1><a href="/">Tug Of Vote</a></h1>
  <section class="cap-list">
    <h2><%= list.title %></h2>
    <p><b>About this list: </b><%= list.description %></p>
    <ul>
      <%- caps.each do |(entry_cap, entry_val)| -%>
        <li>
          <a href="/cap/<%= entry_cap.cap_slug %>"><%= entry_cap.kind %></a>:
          <%= entry_val.title %>
          <%- if cap.kind == CapKind::ListAdmin -%>
          <a href="/cap/<%= cap.cap_slug %>/list/remove/<%= entry_cap.cap_slug %>" class="danger">[remove]</a>
          <%- end -%>
        </li>
      <%- end -%>
      <%- if cap.kind == CapKind::ListAdmin -%>
        <li class="add-to-list">
          <a href="/new?list=<%= cap.cap_slug %>">Add a new poll to this list…</a>
        </li>
      <%- end -%>
    </ul>
    </section>
    <section class="poll-actions">
      <div>
        <h2>Meta</h2>
        <p>
          Created at <%= list.created_at %>.<br>
          <%= 
            lower_caps
            .sort_by{|cap| cap.kind }
            .reverse
            .map {|cap| "<a href=\"/cap/#{cap.cap_slug}\">#{cap.kind}</a>" }
            .join(" · ")
          %>
        <br>
        Only share these links with people you trust to use the respective permission.
        </p>
      </div>

      <%- if cap.kind == CapKind::ListAdmin -%>
        <div>
          <h2>Admin</h2>
          <form action="/cap/<%= cap.cap_slug %>/list/update" method="post">
            <label for="edit-poll-title">Edit title</label>
            <input id="edit-poll-title" name="title" value="<%= list.title %>">
            <label for="edit-poll-textarea">Edit description</label>
            <textarea id="edit-poll-textarea" name="description"><%= list.description %></textarea>
            <button>Update list</button>
          </form>
          <p></p>
          <form action="/cap/<%= cap.cap_slug %>/list/append" method="POST">
            <label for="cap_url">Link</label>
            <input id="cap_url" placeholder="<%= BASE_URL %>/cap/…" name="cap_url">
            <div></div> <!-- ugly but works to force the button into the next row-->
            <button>Append to List</button>
          </form>
        </div>
      <%- end -%>

    </section>
  <footer>
    <p>This page is best viewed using curl(1) on a screen resolution of 80×24 characters or better. Uses IBM Plex Sans (<a href="/ofl.txt">License</a>). Brought to you by <a href="https://15318.de">Dingenskirchen Systems</a>. View the <a href="https://github.com/deingithub/tug-of-vote">source code</a> or the <a href="/help">manual</a>.</p>
  </footer>
</body>
</html>