<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/main.css">
  <meta property="og:title" content="ToV: <%= res.kind.to_verb %> <%= poll.title %>" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="<%= og_desc %>"/>
  <title>ToV: <%= res.kind.to_verb %> <%= poll.title %></title>
</head>
<body>
  <%= GLOBAL_HEADER %>
  
  <section class="poll-results">
    <%= view_component %>
  </section>
  <section class="object-actions">
    <%= vote_component %>
    <%= admin_component %>
  </section>
  <%= GLOBAL_FOOTER %>
</body>
</html>