<div class="meta">
  <h2>Meta</h2>
  <p>
    Created at <%= poll.created_at %>.<br>
    <%- if cap.kind == CapKind::PollVoteDisabled -%>
    Voting has ended. You can only view the results now.<br>
    <%- end -%>
    <%= 
      lower_caps
      .sort_by{|cap| cap.kind }
      .reverse
      .map {|cap| "<a href=\"/cap/#{cap.cap_slug}\">#{cap.kind}</a>" }
      .join(" · ")
    %>
    <br>
    Only share these links with people you trust to use the respective permission.
  </p>
</div>