<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/main.css">
  <meta property="og:type" content="website" />
  <meta property="og:title" content="<%= yield_content "title" %>" />
  <meta property="og:description" content="<%= yield_content "og_desc" %>"/>
  <script src="/tov.js"></script>
  <title><%= yield_content "title" %></title>
</head>
<body <%= yield_content "body_args" %> >
  <header>
    <a href="/" class="header-link">Tug Of Vote</a>
    <a href="/new">New Poll</a>
    <a href="/new_ballot">New Ballot</a>
    <a href="/new_list">New List</a>
    <a href="/new_doc">New Doc</a>
    <a href="/help">Manual</a>
  </header>

  <%= content %>

  <footer>
    <p>This page is best viewed using curl(1) on a screen resolution of 80×24 characters or better. Uses IBM Plex Sans (<a href="/ofl.txt">License</a>). Brought to you by <a href="https://15318.de" rel="noreferrer">Dingenskirchen Systems</a>. View the <a href="https://github.com/deingithub/tug-of-vote" rel="noreferrer">source code</a> or the <a href="/help">manual</a>.</p>
    <p>Alternate Colorschemes: <a href="/taraslate.user.css">Tara's Slate</a>. Tug of Vote respects your dark theme preference if set.</p>
  </footer>
</body>
</html>