@font-face {
  src: url("IBMPlexSans-Regular.woff2");
  font-family: "IBM Plex Sans";
  font-weight: normal;
}

@font-face {
  src: url("IBMPlexSans-Italic.woff2");
  font-family: "IBM Plex Sans";
  font-weight: normal;
  font-style: italic;
}

/* text styles */

body,
body a {
  color: #333;
  font-family: "IBM Plex Sans";
}

.danger {
  color: #b00;
}

.content-page p,
p.notes,
.content-page ul li {
  max-width: 75ch;
  line-height: 1.4;
  text-align: justify;
}

section.content-page ul li {
  max-width: 71ch;
  text-align: justify;
}

/* layout */

body {
  width: 75%;
  margin: 0 auto;
}
body.wide {
  width: 95%;
}

body footer {
  font-size: 0.7rem;
  margin-top: 3rem;
}

/* header */

body header {
  font-size: 2rem;
}

body header a.header-link {
  text-decoration: none;
}

body header a:not(.header-link) {
  vertical-align: middle;
  font-size: 1rem;
  margin-left: 1rem;
  text-decoration: none;
}

body header a:not(.header-link):hover,
body header a:not(.header-link):focus {
  text-decoration: underline;
}

body header::after {
  width: 100%;
  height: 4px;
  display: block;
  content: " ";
  background: #333;
}

/* polls */

.poll-text {
  max-width: 100ch;
  margin: 1rem auto;
  line-height: 1.4;
}

div.votebar {
  display: flex;
  margin: 2rem 0 1rem;
}

div.votebar div {
  text-align: center;
  font-size: 2rem;
  flex-basis: 0;
  border-radius: 6rem;
  min-width: 3ch;
}

div.votebar div.pro {
  background-color: #21b1ff;
}

div.votebar div.neu {
  background-color: #ffd800;
  margin: 0 0.5rem;
}

div.votebar div.con {
  background-color: #ff218c;
}

div.votebar.novotes div {
  flex-grow: 1 !important;
}

.reasons {
  display: grid;
  margin-bottom: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 1rem;
}

.reasons > div {
  padding: 0.3rem;
}

.reasons > div h2 {
  font-weight: normal;
  font-style: italic;
  margin: 2rem auto 0.25rem;
}

.reasons ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.reasons ul li {
  margin-bottom: 1rem;
}

.reasons ul li blockquote {
  margin: 0;
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: 1px solid lightgray;
}

.reasons ul li blockquote p {
  overflow-wrap: anywhere;
  margin-bottom: 0;
  line-height: 1.4;
  max-width: 75ch;
  margin: 0.5rem auto;
}

.reasons ul li blockquote cite {
  padding: 0.3rem;
  background-color: lightgray;
  border-radius: 0.3rem;
}

.object-actions h2 {
  margin: 0.3rem 0;
}

.object-actions {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
}

.object-actions div {
  flex-basis: content;
  min-width: 20rem;
  align-self: flex-start;
}

.object-metadata {
  padding: 0.3rem 0;
  border: 1px solid #333;
  border-left: none;
  border-right: none;
}

/* lists */

li.add-to-list {
  margin-bottom: 1.3rem;
  list-style: none;
}

/* forms */

form {
  max-width: 75ch;
}

form + form {
  margin-top: 1rem;
}

form label {
  display: block;
}

form label:not(:first-child) {
  margin-top: 0.3rem;
}

form textarea {
  height: 10ch;
  font-size: 0.9rem;
}

form input,
form textarea {
  width: 100%;
  box-sizing: border-box;
  display: block;
  max-width: 100ch;
  border: 1px solid lightgray;
  border-radius: 0.3rem;
  padding: 0.5rem;
  font-family: "IBM Plex Sans";
}
form input:hover,
form input:focus,
form textarea:hover,
form textarea:focus {
  border-color: darkgray;
}

form button,
form select {
  margin: 0.3rem 0;
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 0.3rem;
  padding: 0.5rem;
}
form button:hover {
  background-color: darkgray;
}

form select {
  background-color: white;
}

.iam {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1% 1fr;
  grid-column-gap: 1rem;
}
.iam input {
  grid-row: 2;
}
.iam label {
  grid-row: 1;
}

/* ballots */

.ballot-results ol,
.vote ul {
  padding: 0;
}

.ballot-results ol li,
.vote ul li {
  padding: 0.3rem;
  font-size: 1.3rem;
  list-style-position: inside;
  border: 1px solid lightgray;
  border-radius: 0.3rem;
  margin-bottom: 0.3rem;
  max-width: 50ch;
}
.vote ul li input[type="number"] {
  width: 4ch;
  font-size: 1.3rem;
  display: inline-block;
  padding: 0.1rem;
}
.vote ul li {
  list-style: none;
}

/* docs */

.cap-doc {
  display: grid;
  grid-template-columns: 80ch 1fr;
  grid-column-gap: 1rem;
}
.cap-doc article p {
  margin-top: 0;
}
.cap-doc article {
  text-align: justify;
}
.cap-doc ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
.cap-doc ol li {
  padding: 0.3rem;
  border: 1px solid black;
  margin-bottom: 1rem;
}
.cap-doc ol.req-in-flight li {
  color: gray;
  border-color: gray;
}
.cap-doc ol li .votebar div {
  font-size: 1.3rem;
  min-width: 2ch;
}
.cap-doc ol li summary,
[data-js-react-rev-pro],
[data-js-react-rev-neu],
[data-js-react-rev-con] {
  cursor: pointer;
}
.cap-doc article[contenteditable] {
  border: 1px solid black;
  padding: 0.3rem;
}
.cap-doc article[contenteditable] p {
  margin: 0;
  text-align: left;
  max-width: unset;
}

.home-page {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2rem;
}
.home-page h1,
.home-page > p {
  grid-column: 1 / 4;
}

.home-page article {
  max-width: 75ch;
  padding: 1rem;
  border: 1px solid lightgray;
  border-radius: 0.3rem;
}
.home-page article h2 {
  margin: 0;
}

@media screen and (max-width: 60rem) {
  body {
    width: 100%;
    padding: 0 0.5rem;
    box-sizing: border-box;
  }
  a.header-link {
    display: block;
  }
  body header a.header-link + a {
    margin-left: 0;
  }
  .reasons,
  .object-actions {
    display: block;
  }
  .object-actions div:not(:last-child) {
    padding-bottom: 0.6rem;
    border-bottom: 1px solid #333;
  }
  input,
  select,
  textarea,
  button {
    font-size: 1rem;
  }
  .cap-doc {
    display: block;
  }
  .cap-doc article[contenteditable] {
    margin-bottom: 1rem;
  }
  .home-page {
    display: block;
  }
  .home-page article {
    margin-bottom: 2rem;
  }
}

@media screen and (prefers-color-scheme: dark) {
  body {
    background-color: #16161d;
    color: #f0f0f0;
  }
  body header::after {
    background-color: #f0f0f0;
  }
  body .object-actions h2,
  .ballot-results ol li,
  .vote ul li,
  .cap-doc ol li {
    border-color: #f0f0f0;
  }
  .poll-results ul li blockquote cite {
    background-color: #333;
  }
  body a {
    color: #f0f0f0;
  }
  .danger {
    color: #ff0050;
  }
  div.votebar div {
    color: #16161d;
  }
}
